body{
    background-color: white;
    height: 300px;
    width: 300px;

}
.one{
 background-color: pink;
 height: 50px;
 width: inherit;
 margin-top: 5px;   
 border-radius: 5px;
 text-align: center;
 color: black;
 font-size: small;
 font-weight: bolder;
 display: table-cell;
 vertical-align: middle;
}
.two{
    background-color: orange;
    height: 50px;
    width: 80px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three{
    width: 130px;
    height:100px;
    background-color: yellow;
    position: absolute;
    left: 95px;
    top: 63px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.four{
    background-color: orange;
    height: 50px;
    width: 80px;
    margin: 5px;
    position: absolute;
    top: 58px;
    left: 225px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.five{
    width: 80px;
    height: 100px;
    background-color: pink;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.six{
    background-color: rgb(171, 171, 224);
    height: 45px;
    width: 80px;
    margin: 5px;
    position: absolute;
    top: 112px;
    left: 225px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seven{
    width: 215px;
    height: 50px;
    background-color: rgb(184, 125, 17);
    position: absolute;
    left: 96px;
    top: 168px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eight{
    width: 214px;
    height: 50px;
    background-color: blue;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nine{
    width: 80px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    left: 229px;
    top: 224px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}